.App {
  text-align: center;
  background-color: #f7f7f7; /* Light background to contrast header */
  font-family: 'Arial', sans-serif;
  color: #333;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
  transition: transform 0.3s ease-in-out; /* Add smooth transition */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.App-link {
  color: #61dafb;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #21a1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Improved custom scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
  background: rgba(0, 0, 0, 0.1); /* Slight background to the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 15px;
  transition: background-color 0.3s ease-in-out; /* Smooth hover effect */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: 15px;
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-track:hover {
  background: #e0e0e0;
}